.todo-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}
.todo-form .desc-row {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    align-items: flex-end;
    background: none;
}
.todo-form .desc-row md-input-container{
    width: 75%;
}
.todo-form button {
    margin: 12px;
}
.todo-form .col-one{
    background: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-right: 10px;
}
.todo-form .col-one div{
    width: 100%;
}
.todo-form .col-one md-input-container{
    width: 100%;
}

.todo-form .form-element-container {
    background: #fff;
    width: 100%;
    padding: 0 12px;
    margin: 6px;
    overflow: hidden;
    border-radius: 6px;
    border: 6px solid #fff;
}
.todo-form .form-element-container label {
    margin-right: 20px;
}
md-card{
    background: blue;
    padding: 0;
}
md-card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    background: #999;
}
md-card div h4{
    padding: 0 12px;
    margin: 0;
}
.todo-form md-card-header {
    background: #ccc;
    width: 100%;
}
.todo-form md-card-content{
    padding: 12px;
    min-width: 250px;
    background: #ddd;
}
/*.todo-form md-card-content form{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}*/
.todo-form md-card-content form md-input-container{
    background: #fff;
    padding: 0 12px;
    margin: 6px;
    overflow: hidden;
    border-radius: 6px;
    border: 6px solid #fff;
}
.todo-form md-card-content form label{
    color: #999;
}
